@import "tailwindcss";
@import 'react-big-calendar/lib/css/react-big-calendar.css';
@plugin "daisyui" {
  themes: all;
}

/* Add cursor pointer to buttons by default - this is coming from tailwind docs */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
